
// Fonts

$nav-font-size: 13px;
$main-size: 20px;
$small-size: 12px;
$medium-size: 18px;
$h1-font-size-lg: 50px;
$h1-font-size-md: 43px;
$h2-font-size-lg: 40px;
$h2-font-size-md: 35px;


// Colors

$logo-text: #e7526b;
$serv-bg: #f6f6f6;
$serv-hover: #28282e;
$serv-sqv-text: #474747;
$serv-main-text: #888888;
$footer-text: #3a4d60;
$button-bg: #8824cd;
